# Example environment configuration
AWS_REGION=us-east-1
AWS_PROFILE=default
DB_HOST=localhost
DB_PORT=5432
DB_NAME=analytics
DB_USER=postgres
DB_PASSWORD=change-me
#MODEL_ID=anthropic.claude-3-sonnet-20240229-v1:0
MODEL_ID="claude-sonnet-4-6"
LOG_LEVEL=INFO
# OPENAI_API_KEY="sk-..."
ANTHROPIC_API_KEY=""
# GOOGLE_API_KEY="AIzaSy..."

LANGSMITH_API_KEY=""
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=sql-agent
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com/"

# SQL DATABASE
PATH_DATA_SQLITE="/data/sql/Chinook.db"

# ALPHA VANTAGE (https://www.alphavantage.co/support/#api-key)
ALPHA_VANTAGE_API_KEY="demo"
